/* variables */

/*:root{

} */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


body{
    width: 100%;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 6% 94% ;
    grid-template-rows: 9% 30% 2fr 30%;
    grid-template-areas: /* define cuanto espacio va a ocupar cada cosa en cada columna y fila 0.1fr 2fr 0.4fr; */
    "nav nav" 
    "Banner Banner"
    "SideDecor Main"
    "footer footer";
}




nav{        /* otras grids aqui adentro */
    background-image: url(grafico-21.png);
    background-color: #D30423;
    
    
    
    grid-area: nav; /* grid-area es para asignar un identificador a cada espacio para poder acomodarlo */
    display: grid;
    width: 100%;
    height: 4.2rem;
    grid-template-columns: 1fr 50% 0.7fr;
    position: fixed;
}

nav .logo{
    font-size: 2.3rem;
    font-weight: bold;
    color: azure;
    margin-left: 5rem;
    margin-top: 1rem;
}

nav .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

nav li:hover{
    /* agregar mas sombra en las cajitas */
    scale: 1.06;
    border-radius: 0.4rem;
    box-shadow: 0 11px 12px rgba(0, 0, 0, 0.3);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}

nav .dropdown-menu{
    display: none;
}


.bars-menu{
    color: azure;
    display: none;
}
nav li{
    
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-top: 1.5rem;
    display: inline-block;
    text-decoration: none;
    
    
}

nav li a{
    color: azure;
    
    margin: 6rem  1.5rem;
    margin-top: 3rem;
    font-size: 1.4rem;
    
}






a{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
#Banner{
    background-color: darkred;
    grid-area: Banner;
}

#SideDecor{
    background-color: burlywood;
    grid-area: SideDecor;
}


#Main{
    background-color: white;
    grid-area: Main;
}

footer{
    background-image: url(fondosimplee.jpg);
    grid-area: footer;
}


.subcontainer-Index{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.8em;
    font-size: 24px;
    margin-right: 2.5rem;
}

.subcontainer-Index img{    /* esto nada mas lo puse porque me molesta que las imagenes esten tan juntas del texto pero si quieren quitenlo xd */
    margin-top: -2rem;
}   



/*
.center-bigrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem; 
    margin-right: 1rem;
    margin-left: 1rem;
    color: #000;
    font-size: 20px;
    gap: 1em;
    text-align: center;
}
*/

/* TITULOS */

h1{
    margin-top: 4rem;
    font-size: 36px;
}

h2{
    margin-top: 4rem;
}

.tittle-left{
    margin-left: 3rem;
}

.tittle-right{
    text-align: right;
    margin-right: 3rem;
}

.tittle-center{
    text-align: center;
}




/*
.important-tittle-center {
    margin-top: 90px;
    margin-bottom: 2rem;
    text-align: center;
    color: #000;
    font-size: 39px;
}

.important-tittle-left {
    margin-top: 90px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    color: #000;
    font-size: 39px;
}

.important-tittle-right {
    margin-top: 90px;
    margin-bottom: 2rem;
    margin-right: 4rem;
    color: #000;
    font-size: 39px;
    text-align: right;
}

*/






.responsive {  /* hace las fotos responsivas, solo las fotos de perros la tienen */
    width: 100%;
    height: auto; /* hace que cambie el tamaño de la foto con la página pero también afecta su tamaño */
}

.dropdown-menu{
    position: absolute;
    top: 4rem;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.39);
    border-radius: 0.3rem;
    overflow: hidden;
}

.dropdown-menu li{
    
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 600px){

    html{
        width: 100%;
        height: 100%;
    }

    nav{
        height: 4.5rem;
       grid-template-columns: 70% 30%;
       grid-template-areas: "logo bars";
    }


    nav .logo{
        margin-left: 8rem;
        margin-top: 0.7rem;
        font-size: 2.8rem;
        grid-area: logo;
        
    }

    nav li{
        display: none;
    }

    nav .bars-menu{
        display: grid;
        margin-top: 1.5rem;
        font-size: 2.1rem;
        grid-area: bars;
    }

    
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 10% 41% 4% 2fr 30%;
        grid-template-areas: 
        "nav"
        "Banner"
        "SideDecor"
        "Main"
        "footer";
    }

    .subcontainer-Index{
        font-size: 15px;
    }
   
}


/*Grid Footer*/

.container_2{
    display: grid;
    height: 30vh;
    grid-template-columns: 25% 50% 25% ;
    grid-template-rows: auto;
    grid-template-areas: /* define cuanto espacio va a ocupar cada cosa en cada columna y fila 0.1fr 2fr 0.4fr; */
    "foto duc social";
}

#foto{
    grid-area: foto;
    margin-top: 1.7rem;
    margin-left: 2.5rem;
}
#duc{
    grid-area: duc;
    color: white;
    text-align: center;
    margin-top: 4rem;
    margin-left: -4 rem;
    font-size: 4.3rem; 
    font-style: inherit; 
    padding-left: -1rem;
}
#social{
    grid-area: social;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.circle-wh {
    width: 145px;
    height: 145px;
    background-color: white;
    border-radius: 200px;
    margin-left: 2.7rem;
    z-index: 1;
}
.circle-logo {
    width: 150px;
    height: 135px;
    border-radius: 250px;
    padding-top: 0.4rem;
    margin-left: -0.15rem;
    z-index: 1;
}

@media(max-width: 1200px){
    #duc{
        font-size: 4rem;
        padding-left: 1rem;
    }
}

/*Grid social*/

.container_3{
    display: grid;
    padding-top: 2rem;
    height: 20vh;
    grid-template-columns: 10% 90% ;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas:
    "ls ns"
    "li ni"
    "lf nf"
    "lc nc";
}

#ls{
    grid-area: ls;
}

#ns{
    grid-area: ns;
    text-align: left;
    color: white;
}
#li{
    grid-area: li;
}

#ni{
    grid-area: ni;
    text-align: left;
    color: white;
}
#lf{
    grid-area: lf;
}

#nf{
    grid-area: nf;
    text-align: left;
    color: white;
}
#lc{
    grid-area: lc;
}

#nc{
    grid-area: nc;
    text-align: left;
    color: white;
}

/*Círculos*/

.circle-r {
    margin-top: 6rem;
    width: 267px;
    height: 266px;
    background-color: #D30423;
    border-radius: 200px;
}

.circle-r p {
    position: absolute;
    text-align: center;
    color: #000;
}


.circle-bl {
    margin-top: 6rem;
    width: 267px;
    height: 266px;
    background-color: #214387;
    border-radius: 200px;
    margin-left: -6rem;
    z-index: 1;
}

.circle-y {
    margin-top: 6rem;
    width: 267px;
    height: 266px;
    background-color: #FFB336;
    border-radius: 200px;
    margin-left: -6rem;
    z-index: 1;
}

.circle-rs {
    margin-top: 6rem;
    width: 267px;
    height: 266px;
    background-color: #4E0F11;
    border-radius: 200px;
    margin-left: -6rem;
    z-index: 1;
}
