/* variables */

/*:root{

} */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


body{
    width: 100%;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 6% 94% ;
    grid-template-rows: 9% 30% 2fr 35%;
    grid-template-areas: /* define cuanto espacio va a ocupar cada cosa en cada columna y fila 0.1fr 2fr 0.4fr; */
    "nav nav nav" 
    "Banner Banner Banner"
    "SideDecor Main Main"
    "footer footer footer";
}

nav{
    background-color: rgba(246, 0, 0, 0.8);
    grid-area: nav; /* grid-area es para asignar un identificador a cada espacio para poder acomodarlo */
}

a{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
#Banner{ /* falta agregar la foto */
    background-color: rgba(107, 0, 0, 0.71);
    grid-area: Banner;
}

#SideDecor{ /* falta agregar la foto */
    background-color: whitesmoke;
    grid-area: SideDecor;
}

#Main{
    background-color: white;
    grid-area: Main;
}

footer{
    background-image: url("../img/fondosimplee.jpg");
    grid-area: footer;
    background-size: 100%;
}


.subcontainer-Index{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.8em;
    font-size: 24px;
    margin-right: 2.5rem;
}

.subcontainer-Index img{    /* esto nada mas lo puse porque me molesta que las imagenes esten tan juntas del texto pero si quieren quitenlo xd */
    margin-top: -2rem;
}   



/*
.center-bigrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem; 
    margin-right: 1rem;
    margin-left: 1rem;
    color: #000;
    font-size: 20px;
    gap: 1em;
    text-align: center;
}
*/

/* TITULOS */

h1{
    margin-top: 4rem;
    font-size: 36px;
}

h2{
    margin-top: 4rem;
}

.tittle-left{
    margin-left: 3rem;
}

.tittle-right{
    text-align: right;
    margin-right: 3rem;
}

.tittle-center{
    text-align: center;
}

/*
.important-tittle-center {
    DUC IN ALTUM
    position: absolute;
    width: 716.25px;
    height: 73.15px;
    left: 390px;
    top: 67px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.important-tittle-left {
    margin-top: 90px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    color: #000;
    font-size: 39px;
}

.important-tittle-right {
    margin-top: 90px;
    margin-bottom: 2rem;
    margin-right: 4rem;
    color: #000;
    font-size: 39px;
    text-align: right;
}
*/


.responsive {  /* hace las fotos responsivas, solo las fotos de perros la tienen */
    width: 100%;
    height: auto; /* hace que cambie el tamaño de la foto con la página pero también afecta su tamaño */
}


@media only screen and (max-width: 600px){

    html{
        width: 100%;
        height: 100%;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 10% 41% 4% 2fr 25%;
        grid-template-areas: 
        "nav"
        "Banner"
        "SideDecor"
        "Main"
        "footer";
    }

    .subcontainer-Index{
        font-size: 15px;
    }
   
}

/*Grid footer*/

.container_2{
    display: grid;
    height: 35vh;
    grid-template-columns: 25% 50% 25% ;
    grid-template-rows: 10%;
    grid-template-areas: /* define cuanto espacio va a ocupar cada cosa en cada columna y fila 0.1fr 2fr 0.4fr; */
    "foto duc social";
}

#foto{
    grid-area: foto;
    margin-top: 1.7rem;
    margin-left: 3rem;
}
#duc{
    grid-area: duc;
    color: white;
    text-align: center;
    margin-top: 4.5rem;
    font-size: 5rem; 
    font-style: inherit; 
    padding-left: 1.5rem;
}
#social{
    grid-area: social;
    margin-left: 4rem;
    margin-top: 2rem;
}

.circle-wh {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 200px;
    margin-left: 2.5rem;
    z-index: 1;
}
.circle-logo {
    width: 185px;
    height: 170px;
    border-radius: 250px;
    padding-top: 0.4rem;
    margin-left: -0.1rem;
    z-index: 1;
}

@media(max-width: 1200px){
    #duc{
        font-size: 4rem;
        padding-left: 1rem;
    }
}

/*Grid social*/

.container_3{
    display: grid;
    padding-top: 2rem;
    height: 25vh;
    grid-template-columns: 25% 75% ;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas:
    "ls ns"
    "li ni"
    "lf nf"
    "lc nc";
}

#ls{
    grid-area: ls;
}

#ns{
    grid-area: ns;
    text-align: left;
    color: white;
}
#li{
    grid-area: li;
}

#ni{
    grid-area: ni;
    text-align: left;
    color: white;
}
#lf{
    grid-area: lf;
}

#nf{
    grid-area: nf;
    text-align: left;
    color: white;
}
#lc{
    grid-area: lc;
}

#nc{
    grid-area: nc;
    text-align: left;
    color: white;
}